* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #A2A2A4 ;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #A2A2A4 ;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #79797C #46494C;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #79797C;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #46494C;
    border-radius: 20px;
    border: 3px solid #79797C;
  }



.left {
    width: 100%;
    height: 100%;
    background-color: #A2A2A4 ;
}

.radios{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 80%;
    margin-left: 10%;
}

.resultado {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 80%;
    margin-left: 10%;
}

.titulo>h1 {
    color: #46494C;
    text-align: center;
    font-family: 'Roboto',  sans-serif;
    font-weight:bold;
    font-size:27px;
    padding:10px 10px;
}
.titulo>h2 {
    color: #46494C;
    text-align: center;
    font-family: 'Roboto',  sans-serif;
    font-weight:bold;
    font-size:20px;
    padding:10px 10px;
}

    .caracter {
        height: 50%;
        width: 100%;
        text-align: center;
        font-family: 'Roboto',  sans-serif;
        font-weight:bold;
        font-size:20px;
        padding:10px 10px;
    }
    
    button {
        border: 0;
        padding: 5px 8px;
        font-weight: 700;
        display: inline-block;
        border-radius:4px;
        cursor:pointer;
        width: 120px;
        font-family: 'Roboto',  sans-serif;
        text-decoration:none;
        border-color:#4C5C68;
        background-color: #4C5C68;
        color:#fff;
        text-align: center;
        outline: none;
        
    }

    textarea {
        font-size: 18px;
        font-weight: 700;
        font-family: 'Roboto',  sans-serif;
        color: #555;
        outline: none;
        padding: 10px;
    }

    .tooltip {
        position: relative;
        display: inline-block;
        margin-bottom: 5%;
      }
      
      .tooltip .tooltiptext {
        visibility: hidden;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        opacity: 0;
        transition: opacity 0.3s;
      }
      
      .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
      }
      
      .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
      }
